<% if @user.is_profile_complete == false %>
    <%= render 'general/info_message', locals:{notice: "Recuerda que tienes que completar tus datos de usuario", link: "#{me_edit_path(@user)}"} %>
<% end %>
<div class="ui grid">
  <div class="eight wide column">
    <div class="ui fluid card">
      <div class="blurring dimmable image profile">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <%= link_to photographers_path, class: 'ui button' do %>
                  <i class="big list icon"></i> Fotógrafos
              <% end %>
            </div>
          </div>
        </div>
        <%= image_tag 'event.jpg' %>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image profile">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <%= link_to "", class: 'ui button' do %>
                  <i class="big money icon"></i> Mis compras
              <% end %>
            </div>
          </div>
        </div>
        <%= image_tag 'gallery.jpg' %>
      </div>
    </div>
  </div>
</div>