<div class="ui special card">
  <div class="ui card">
    <div class="content">
      <h3 class="header"><%= @user.complete_name %></h3>
    </div>
    <div class="blurring dimmable image profile">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <%= link_to me_edit_path(@user), class: 'ui button' do %>
                <i class="big edit icon"></i> Editar mi perfil
            <% end %>
          </div>
        </div>
      </div>
      <% if @user.avatar.blank? %>
          <%= image_tag 'nopic.png' %>
      <% else %>
          <%= image_tag @user.avatar(:small) %>
      <% end %>
    </div>

    <div class="content">
      <div class="description">
        <span class="left floated">
          <% if @user.alias.blank? %>
            <i class="big spy icon pup" data-content="Sin alias D:"></i>
          <% else %>
            <i class="big user icon"></i><%= @user.alias %>
          <% end %>
        </span>
        <span class="right floated">
        <%= @user.has_follow_users %>
        <i class="big empty star outline icon pup" data-content="<%= @user.has_follow_users %> Personas te siguen"></i>
      </span>
      </div>
    </div>
  </div>
</div>