<% title 'Mis cosas' %>

<div class="row">
  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="four wide column"><%= render 'profile' %></div>
    <div class="eight wide column">
      <% if @user.is_profile_complete == false %>
          <%= render 'general/info_message', locals:{notice: "Recuerda que tienes que completar tus datos de usuario", link: "#{me_edit_path(@user)}"} %>
      <% end %>
      <div class="ui grid">
        <div class="eight wide column">
          <div class="ui fluid card">
            <div class="blurring dimmable image profile">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <%= link_to event_path(@user), class: 'ui button' do %>
                        <i class="big list icon"></i> Mis galerías
                    <% end %>
                  </div>
                </div>
              </div>
              <%= image_tag 'event.jpg' %>
            </div>
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui fluid card">
            <div class="blurring dimmable image profile">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <%= link_to event_new_path(@user), class: 'ui button' do %>
                        <i class="big icons">
                          <i class="photo icon"></i>
                          <i class="corner add icon"></i>
                        </i>
                        Registrar nueva galería
                    <% end %>
                  </div>
                </div>
              </div>
              <%= image_tag 'new_event.jpg' %>
            </div>
          </div>
        </div>
      </div>

      <div class="ui fluid card">
        <div class="content">
          <div class="header"><i class="big area chart icon"></i>Información nutricional</div>
        </div>
        <div class="content">

          <div class="ui grid">
            <div class="row">
              <div class="sixteen wide column">
                <div class="ui three sequenced cards">
                  <div class="red card">
                    <div class="header">Total de galerías</div>
                    <div class="content">
                      <i class="huge icons">
                        <i class="grey archive icon"></i>
                        <i class="corner icon"><%= @user.total_of_galleries %></i>
                      </i>
                    </div>
                  </div>
                  <div class="blue card">
                    <div class="header">Total de fotografías</div>
                    <div class="content">
                      <i class="huge icons">
                        <i class="grey photo icon"></i>
                        <i class="corner icon"><%= @user.total_of_photos %></i>
                      </i>
                    </div>
                  </div>
                  <div class="green card">
                    <div class="header">Fotografías vendidas</div>
                    <div class="content">
                      <i class="huge icons">
                        <i class="grey money icon"></i>
                        <i class="corner icon">0</i>
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="two wide column"></div>
  </div>
</div>