<% title 'Modificar mi perfil' %>

<div class="ui equal width aligned padded grid">
  <div class="row">
    <div class="two wide column">
        <div class="ui small vertical menu">
            <%= link_to me_path(params[:id]), class:"item" do %>
                <i class="dashboard icon"></i> Dashboard
            <% end %>
         </div>
    </div>
    <div class="two wide column"></div>    
    <div class="ten wide column">
      <%= form_for @user, url: users_update_profile_path , html:{ class: 'ui form' } do |form| %>
          <% if flash[:error] %>
              <div class="ui negative message transition">
                <i class="close icon"></i>
                <div class="header">Error al registrarte</div>
                <p>Por favor, revisa los datos en el formulario:</p>
                <ul class="list">
                  <% flash[:error].each do |attr, msg| %>
                      <% msg.each do |value| %>
                          <li><%= value %></li>
                      <% end %>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <h4 class="ui dividing header">Editar mi información</h4>
          <% if @user.is_profile_complete == false %>
            <%= render 'general/info_message', locals: { notice: "Recuerda que una vez ingresada, solo podrás cambiar información básica de tu perfil!!!" }  %>
          <% end %>
          <div class="ui grid">
            <div class="row">
              <div class="seven wide column">
                <div class="ui medium image">

                  <div class="ui dimmer">
                    <div class="content">
                      <div class="center">
                        <div class="ui inverted header">Cambiar Imagen de perfil</div>
                        <%= form.file_field :avatar, class: 'ui button' %>
                      </div>
                    </div>
                  </div>

                  <% if @user.avatar.nil? || @user.avatar.blank? %>
                      <%= image_tag 'nopic.png', size: '300x300', class: "ui medium image" %>
                  <% else %>
                      <%= image_tag @user.avatar(:small), class: "ui medium image"  %>
                  <% end %>
                </div>
              </div>
              <div class="nine wide column">
                <div class="three fields">
                  <div class="field">
                    <label>Nombre</label>
                    <%= form.text_field :name, placeholder: 'Nombre' if @user.name.blank?%>
                    <%= form.text_field :name, placeholder: 'Nombre', disabled: "" if !@user.name.blank?%>
                  </div>
                  <div class="field">
                    <label>Apellidos</label>
                    <%= form.text_field :lastname, placeholder: 'Apellidos' if @user.lastname.blank? %>
                    <%= form.text_field :lastname, placeholder: 'Apellidos', disabled: "" if !@user.lastname.blank? %>
                  </div>
                  <div class="field">
                    <label>Sexo</label>
                    <%= form.select :sex, [['Selecione una opción'], ['Hombre','h'],['Mujer','m']], {disabled: 'Selecione una opción'}, {class: 'ui dropdown'} if @user.sex.blank?%>
                    <%= form.select :sex, [['Selecione una opción'], ['Hombre','h'],['Mujer','m']], {disabled: 'Selecione una opción'}, {class: 'ui dropdown disabled'} if !@user.sex.blank?%>
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    <label>Alias</label>
                    <%= form.text_field :alias, placeholder: 'Alias' %>
                  </div>
                  <div class="field">
                    <label>Dirección</label>
                    <%= form.text_field :address %>
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    <label class="pup" data-content="Copia y pega los enlaces de tus perfiles de tus redes sociales en los campos que ves abajo">Mis redes sociales</label>
                    <% @user.social_networks_list.each do |key, value| %>
                        <div class="field">
                          <div class="ui mini action input">
                            <%= form.text_field :social_networks_list, name: "user[social_networks_list][#{key}]", value: "#{value}" %>
                            <div class="ui teal right icon button pup" data-content="Enlazar con <%= key %>"><i class="tiny <%= key.to_s.downcase %> icon"></i></div>
                          </div>
                        </div>
                    <% end %>
                  </div>
                  <div class="field">
                    <label class="pup" data-html="El formato de teléfonos es el siguiente: <br/> - (+123)12345678 <br/> - 12345678 <br/><br/><label>Cualquier otro formato será rechazado</label>">Teléfonos de referencia</label>
                    <div id="phone_numbers">
                      <% @user.phones.each do |key| %>
                          <div class="field">
                            <div class="ui mini action input">
                              <%= form.text_field :phones_list, name: "user[phones_list][]", value: "#{key}" %>
                              <a href="#" class="ui teal right icon button" onclick="delete_input(this)">
                                <i class="delete icon"></i>
                              </a>
                            </div>
                          </div>
                      <% end %>
                    </div>
                    <a href="#" class="add">agregar número</a>
                  </div>
                </div>

                <%= form.submit 'Actualizar mi información', class: 'green ui button' %>
                <%= link_to "Volver al dashboard", me_path(@user), class: "red ui button" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>