<% title 'Registrarme' %>

<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class="four wide column form-background">
      <%= form_for @user, url: users_create_profile_path, remote: true, html:{ class: 'ui form' } do |form| %>
          <%= form.hidden_field :user_type, value: 'photographer' %>
          <h2 class="ui dividing header center aligned"><label>Abre una cuenta</label></h2>
          <div class="field">
            <label>Correo electrónico</label>
            <%= form.text_field :email, placeholder: 'Correo electrónico' %>
          </div>
          <div class="field">
            <label>Contraseña</label>
            <%= form.password_field :password, placeholder: 'Contraseña' %>
          </div>
          <div class="field">
            <label>Confirmar contraseña</label>
            <%= form.password_field :password_confirmation, placeholder: 'Confirmar contraseña' %>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <%= form.check_box :terms, tabindex: 0, class:'hidden' %>
              <label for="user_terms" >Acepto los términos y condiciones</label>
            </div>
          </div>
          <div class="field">
            <%= form.submit 'Registrarme', class: 'green ui button' %>
          </div>
      <% end %>
      <div class="field">
        <div id="message"></div>
      </div>
    </div>
  </div>
</div>