<% title "Mi galería" %>
<div class="row">
  <div class="ui grid">
    <div class="two wide column">
      <div class="ui small vertical menu">
        <%= link_to me_path(@event.user_id), class:"item" do %>
            <i class="dashboard icon"></i> Dashboard
        <% end %>
        <%= link_to event_path(@event), class:"item" do %>
            <i class="camera retro icon"></i> Galerías
        <% end %>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="twelve wide column">
      <% if flash[:success] %>
          <div class="ui success message transition">
            <i class="close icon"></i>
            <div class="header">Yay!</div>
            <p><%= flash[:success] %></p>
          </div>
      <% end %>
      <div class="ui fluid card">
        <div class="content">
          <a class="header"><%= @event.event_name %></a>
        </div>
        <div class="content">
          <%= form_for Photo.new, url: photo_create_path(id: params[:id], event_id: params[:event_id]) do |form| %>
              <div class="content">
                <label>Puedes usar el navegador de archivos o puedes arrastrar aqui las fotos y se cargarán automáticamente.</label>
              </div>
              <%= form.file_field :photo, multiple: true, remote: true, name: "photo[image][]" %>
              <div id="loading-message">
                <div class="ui icon message">
                  <i class="notched circle loading icon"></i>
                  <div class="content">
                    <div class="header">
                      Espera!
                    </div>
                    <p>Estamos subiendo las imágenes con polvo de hadas :D</p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="extra content">
          <div id="gallery" class="ui cards">
            <%= render 'photos/index', locals:{id: params[:id], event_id: params[:event_id]} %>
          </div>
        </div>
      </div>

    </div>
    <div class="one wide column"></div>
  </div>
</div>