<% title @event.event_name %>
<div class="row">
  <div class="ui grid">
    <div class="two wide column">
      <div class="ui small vertical menu">
        <%= link_to me_path(@event.user_id), class:"item" do %>
            <i class="dashboard icon"></i> Dashboard
        <% end %>
        <%= link_to event_path(@event), class:"item" do %>
            <i class="camera retro icon"></i> Galerías
        <% end %>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="twelve wide column">
      <div id="message-box"></div>
      <% if flash[:success] %>
          <div class="ui success message transition">
            <i class="close icon"></i>
            <div class="header">Yay!</div>
            <p><%= flash[:success] %></p>
          </div>
      <% end %>
      <% if @event.total_photos == 0 %>
          <div id="initial-message" class="ui two top attached steps">
            <div class="completed step">
              <i class="info circle icon"></i>
              <div class="content">
                <div class="title">Heyo!</div>
                <div class="description">Esta galería esta lista</div>
              </div>
            </div>
            <div class="active step">
              <i class="camera retro icon"></i>
              <div class="content">
                <div class="title"></div>
                <div class="description">Agrega fotografías a tu galería</div>
              </div>
            </div>
          </div>
      <% end %>
      <div class="ui fluid card">
        <div class="content">
          <label class="header"><%= @event.event_name %></label>
        </div>
        <div class="content">
          <%= form_for Photo.new, url: photo_create_path(id: params[:id], event_id: params[:event_id]) do |form| %>
              <div class="content centered">
                <i class="huge icons pup" data-content="Arrastra aquí tus fotos!">
                  <i class="grey upload icon"></i>
                </i>
              </div>
              <%= form.file_field :photo,multiple: true,remote: true,name: "photo[image][]",class: "ui button" %>
          <% end %>
        </div>
        <div class="extra content">
            <div id="loading-message" class="ui active dimmer">
                <div class="ui text loader">
                    Subiendo las imágenes, espera :D
                </div>
            </div>
          <div id="gallery" class="ui cards">
            <%= render 'photos/index', locals:{id: params[:id], event_id: params[:event_id]} %>
          </div>
        </div>
      </div>

    </div>
    <div class="one wide column"></div>
  </div>
</div>

<div id="image-modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">Información</div>
  <div class="image content">
    <div id="image-content" class="image"></div>
    <div id="image-description" class="description">
      <label>Nombre</label><div id="image-description-name"></div>
    </div>
  </div>
</div>