<% @photos.each do |photo| %>
    <div class="card">
      <div class="content">
        <div class="right floated">
          <%= link_to photo_delete_path(locals[:id], locals[:event_id], photo.id), method: :delete, remote: true, data:{confirm: "¿Estás seguro de borrar esta foto de la galería?", content: "Eliminar de la galería"}, class:'pup' do %>
              <i class="delete icon"></i>
          <% end %>
        </div>
      </div>
      <div class="image">
        <a href="#">
          <%= image_tag photo.image_original.url, class: 'ui medium bordered image ' %>
        </a>
      </div>
      <div class="content">
        <div class="left floated pup" data-content="Tamaño de la imagen">
          <%= photo.image_original_file_size/1000 %> kb
        </div>
        <div class="right floated pup" data-content="Resolución de la imagen">
          <%= photo.original_size %>
        </div>
      </div>
      <div class="extra content pup" data-content="Identificador único de la imagen">
        <%= photo.image_original_fingerprint %>
      </div>
    </div>
<% end %>