<% @photos.each do |photo| %>
    <div class="card">
      <div class="content">
        <div class="right floated">
          <%= link_to photo_delete_path(locals[:id], locals[:event_id], photo.id), method: :delete, remote: true, data:{confirm: "¿Estás seguro de borrar esta foto de la galería?", content: "Eliminar de la galería"}, class:'pup' do %>
              <i class="delete icon"></i>
          <% end %>
        </div>
      </div>
      <div class="image">
        <%= link_to photo_url_path(photo.id), remote: true do %>
            <%= image_tag photo.image_original.url, size: "350x300",class: 'ui medium bordered image ' %>
        <% end %>
      </div>
      <div class="content">
        <div class="right floated pup" data-content="Tienes <%= photo.has_likes %> likes">
          <%= photo.has_likes %>
        </div>
      </div>
      <div class="extra content pup" data-content="Identificador único de la imagen">
        <%= photo.image_original_fingerprint %>
      </div>
    </div>
<% end %>