<!DOCTYPE html>
<html>
<head>
  <title>Hipstagram - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
<div class="ui menu">
    <%= image_tag 'logo', size: '120x45', class: 'header item' %>
    <div class="right menu">
        <!-- notification menu -->
        <div class="ui dropdown item">
            <i class="grey attention icon"></i> Notificaciones
            <div class="menu transition hidden" tabindex="-1">
                <a href="#" class="item">some</a>
            </div>
        </div>
        <!-- notification menu -->

        <div class="ui dropdown item" tabindex="0">
            Menu
            <i class="dropdown icon"></i>
            <div class="menu transition hidden" tabindex="-1">
                <%= link_to me_path(@user), class: 'item' do %>
                    <i class="user icon"></i> Yop
                <% end%>
                <%= link_to me_edit_path(@user), class: 'item' do %>
                    <i class="cogs icon"></i> configuración
                <% end%>
                <div class="divider"></div>
                <%= link_to  logout_path, class: 'item ' do %>
                    <i class="sign out icon"></i> Salir
                <% end%>
            </div>
        </div>
    </div>
</div>
<%= yield %>

</body>
</html>
