<!DOCTYPE html>
<html>
<head>
  <title>Hipstagram - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
<div class="ui menu">
  <%= link_to root_path do %>
      <%= image_tag 'logo', size: '120x45', class: 'header item' %>
  <% end %>
  <div class="right menu">

    <%= link_to "Registrarse", signup_path, class: 'ui item' %>

  </div>
</div>
<%= yield %>

</body>
</html>
