<!DOCTYPE html>
<html>
<head>
  <title>Hipstagram - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
<div id="menu" class="ui menu sticky">
  <%= link_to root_path do %>
      <%= image_tag 'logo', size: '120x45', class: 'header item' %>
  <% end %>
  <div class="right menu">
    <a href="#index" class="ui item">Inicio</a>
    <a href="#whoami" class="ui item">Quien Soy</a>
    <a href="#connect" class="ui item">Conéctate</a>
    
    <% if !cookies[:idbmeredith] %>
        <%= link_to "Iniciar Sesión", login_path, class: 'ui item' %>
        <%= link_to "Registrarse", signup_path, class: 'ui item' %>
    <% else %>
        <div class="ui dropdown item" tabindex="0">
          <% user = User.find_by(id: cookies.signed[:idbmeredith]['$oid']) %>
          <%= image_tag user.avatar.url(:thumb),class:'ui avatar image'%>
          <%= user.email %>
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <%= link_to "me/#{user.id}",class: 'ui item' do %>
                <i class="user icon"></i>Yop
            <% end %>
            <%= link_to "me/#{user.id}", class: 'item' do %>
                <i class="cogs icon"></i> configuración
            <% end%>
            <div class="divider"></div>
            <%= link_to  logout_path, class: 'item ' do %>
                <i class="sign out icon"></i> Salir
            <% end%>
          </div>
        </div>
    <% end %>
  </div>
</div>

<%= yield %>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
          <h4 class="ui inverted header">Hipstagram - 2016</h4>
          <%= image_tag 'mein_logo', class: "ui centered mini image" %>
          <a href="https://github.com/drkpkg" target="_blank">Github de Drkpkg</a>
          <p>Hecho con amor y mucho café</p>
        </div>
        <div class="four wide column"></div>        
      </div>
    </div>
</div>

</body>
</html>
