<!DOCTYPE html>
<html>
<head>
  <title>Hipstagram - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
<div class="ui menu">
  <%= link_to root_path do %>
      <%= image_tag 'logo', size: '120x45', class: 'header item' %>
  <% end %>
  <div class="right menu">

    <% if !cookies[:idbmeredith] %>
        <%= link_to "Iniciar Sesión", login_path, class: 'ui item' %>
        <%= link_to "Registrarse", signup_path, class: 'ui item' %>
    <% else %>
        <div class="ui dropdown item" tabindex="0">
          <% user = User.find_by(id: cookies.signed[:idbmeredith]['$oid']) %>
          <%= image_tag user.avatar(:thumb),class:'ui avatar image'%>
          <%= user.email %>
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <%= link_to "me/#{user.id}",class: 'ui item' do %>
                <i class="user icon"></i>Yop
            <% end %>
            <%= link_to "me/#{user.id}", class: 'item' do %>
                <i class="cogs icon"></i> configuración
            <% end%>
            <div class="divider"></div>
            <%= link_to  logout_path, class: 'item ' do %>
                <i class="sign out icon"></i> Salir
            <% end%>
          </div>
        </div>
    <% end %>

  </div>
</div>
<%= yield %>

</body>
</html>
